/* Position of POI-radar. */

.radarContainer_left {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width: 100px;
    height: 100px;
}

.radarContainer_right {
    position: absolute;
    top: calc(35px + env(safe-area-inset-top));
    right: env(safe-area-inset-right);
    width: 100px;
    height: 100px;
}
